#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=IntelinAir Slack
Exec=/usr/bin/chromium --app=https://intelinairteam.slack.com
