#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Superannotate Slack
Exec=chromium --app=https://superannotate.slack.com
