[Unit]
Description=Disable USB wakeup triggers in /proc/acpi/wakeup

[Service]
Type=oneshot
ExecStart=/opt/bin/disable_wake_on_usb.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
